@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.active{
  background-color: #422AD5;
  color: white;
}
.active2{
  color: #422AD5;
}
.active3{
  color: #422AD5;
}

.small{
  position: absolute;
  top: -25px;
}
.close-btn{
  position: absolute;
  right: 15px;
  top: 15px;
}

.badge-area{
  position: absolute;
  top: -10px;
  right: -5px;
}